/* Flow UP CSS
 *
 * Use this CSS in conjuction with the option externalCSS set to true. 
 * When using the external CSS (this file) everything will be 
 * controlled through the CSS. Ie the other options for the plugin
 * will be ignored such as duration, and sranslateY. 
 *
 * By Dominik Gorecki
 * www.dominikgorecki.com
 *
 * Based on Eric Wenn's PullupScroll plugin
 * (https://github.com/ericwenn/pullupscroll)
 */

.opaque
{
  opacity: 0;
}
.come-in {
  -ie-transform:translateY(250px);
  -webkit-transform:translateY(250px);
  transform:translateY(250px);
  -webkit-animation:come-in .8s ease forwards;
  animation:come-in .8s ease forwards;
  opacity: 1;
}

.come-in:nth-child(odd){
  -webkit-animation-duration:.6s;
  animation-duration:.6s
}

.already-visible {
  -ie-transform:translateY(0);
  -webkit-transform:translateY(0);
  transform:translateY(0);
  -webkit-animation:none;
  animation:none
  opacity: 1;
}

@-webkit-keyframes come-in { to {
      -ie-transform:translateY(0);
      -webkit-transform:translateY(0);
      transform:translateY; (0)
    }}

@keyframes come-in{
  to{
    -ie-transform:translateY(0);
    -webkit-transform:translateY(0);
    transform:translateY(0)
  }
  } 


